/********************HEADER********************/
header {
  align-items: unset;
  height: 85vh;
}
.header--shape {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header--title-container {
  min-width: 288px;
  max-width: 900px;
  height: 100px;
  padding-left: 12px;
  text-align: left;
}

.header--title-container h1 {
  font-size: 3.9rem;
  font-weight: bold;
}
.header--title-container p {
  font-size: 1.8rem;
  font-weight: 300;
}

.header--img-container img {
  width: 355px;
  height: 296.15px;
}

.header--buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: -65px;
  margin-left: -40px;
}

.header .header--buttons {
  justify-content: left;
}

/********************MAIN********************/

.main--info {
  text-align: left;
}

.mis-habilidades,
.certificado-detalle {
  text-align: center;
}

.texto-ilustracion {
  display: inline-block;
}
.texto-ilustracion p {
  width: 50%;
}
