/********************HEADER********************/
header {
  align-items: unset;
  height: 85vh;
}
.header--shape {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header--title-container {
  min-width: 288px;
  max-width: 900px;
  height: 100px;
  padding-left: 12px;
  text-align: left;
}

.header--title-container h1 {
  font-size: 3.9rem;
  font-weight: bold;
}
.header--title-container p {
  font-size: 1.8rem;
  font-weight: 300;
}

.header--img-container img {
  width: 355px;
  height: 296.15px;
}

.header--buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: -65px;
  margin-left: -40px;
}

.header .header--buttons {
  justify-content: left;
}

/********************MAIN********************/

.main--info {
  text-align: left;
  margin-bottom: 100px;
}

.mis-habilidades,
.certificado-detalle {
  text-align: center;
}

.texto-ilustracion {
  display: flex;
}
.texto-ilustracion p {
  width: 100%;
  order: 2;
}
.quien-soy--texto p {
  width: 70%;
}

.main--info .ilustracion-svg {
  width: 22%;
  margin-right: 40px;
  height: 250px;
}

/*** HABILIDADES ***/
.mis-habilidades {
  order: 3;
  margin: 60px 0;
}
/*** CERTIFICADOS ***/
.certificados--container {
  width: 70%;
}
