/********************HEADER********************/
header {
  align-items: unset;
}
.header--shape {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header--title-container {
  min-width: 288px;
  max-width: 900px;
  height: 100px;
  padding-left: 12px;
  text-align: left;
}

.header--img-container img {
  width: 355px;
  height: 296.15px;
}

.header--buttons {
  justify-content: left;
}

/********************MAIN********************/
