:root {
  --main-color: #8e9ccf;
  --secondary-color: #356be1;
  --btn-enviar: #ffb2b2;
  --btn-hover: #faaea7;
  --background-contacto: whitesmoke;
}
/*other colors: 
svg images color: #356BE1

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/********************HEADER********************/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /*smaller smartphone dimension*/
  /* height: 374px; */
  height: 80vh;
  text-align: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-image: url("../assets/Sun-Tornado2.svg");
  opacity: 0.95;
  background-size: cover;
  background-position: center; /*nos permite tener visibilidad del centro de la imagen*/
  background-repeat: no-repeat;
  background-color: var(--main-color);
}
.header--shape {
  margin-top: -40px;
}
.header--title-container {
  min-width: 288px;
  max-width: 900px;
  height: 100px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 3.7rem;
  font-weight: bold;
}
.header--title-container p {
  font-size: 1.6rem;
  font-weight: lighter;
  color: white;
}

header img {
  width: 170px;
  height: 170px;
  align-self: center;
}
.header--buttons {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  display: block;
  height: 40px;
  width: 290px;
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  letter-spacing: 1px;
}
.btn:hover {
  background-color: var(--btn-hover);
  color: black;
  border: none;
}
.btn-primario {
  background-color: white;
  border: none;
  color: black;
  font-weight: 500;
  margin: 11px;
}
.btn-secundario {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 11px;
}

/********************MAIN********************/
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main--info {
  width: 100%;
  height: auto;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}
.section--text {
  width: 65%;
  min-width: 290px;
  max-width: 1150px;
  margin: 0 auto;
}
.section--text h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: black;
}

.section--text p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.main--info .ilustracion-svg {
  width: 150px;
  height: 84px;
  align-self: center;
}
/****HABILIDADES****/
.mis-habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*alinea horizontalmente*/
}

.carta-habilidades {
  height: 37px;
  width: 129px;
  padding: 10px;
  margin: 8px;
  color: white;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--secondary-color);
  border-radius: 20px;
}
.carta-habilidades p {
  font-weight: 300;
  font-size: 1.3rem;
}

/****CERTIFICADOS****/
.certificados--container {
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.certificado-detalle {
  position: relative;
  width: 80%;
  min-width: 250px;
  max-width: 270px;
  min-height: 220px;
  max-height: 230px;
  margin: 15px auto;
  /* padding: 15px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.certificado-detalle--img {
  width: 100%;
  height: 140px;
  border-radius: 10px 10px 0 0;
}
.btn-ver-certificado {
  position: absolute;
  width: 140px;
  height: 45px;
  padding: 13px;
  top: 115px;
  left: calc(50% - 70px);
  border-radius: 20px;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.certificado--titulo {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}

/****FORMULARIO****/

.contacto {
  background-color: var(--background-contacto);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contenedor-formulario {
  padding: 9px;
}

.formulario {
  max-width: 425px; /*370*/
  padding: 15px 1px 15px 11px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 14px 6px #e2e1e1;
  box-shadow: 5px 10px 14px 6px #e2e1e1;
}
.formulario h2 {
  font-size: 2.1rem;
}

.formulario label {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form--input {
  width: 95%;
  height: 42px;
  margin: 1rem 0;
  outline: none;
  border: 1px solid #6b6666;
  border-radius: 14px;
  background-color: white;
  padding: 5px 10px;
  font-size: 1.4rem;
}

#mensaje {
  min-height: 80px;
  max-width: 95%;
  padding: 5px 10px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

label span {
  font-size: 1.4rem;
}
.btn-enviar {
  width: 95%;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 1.4rem;
  background-color: var(--btn-enviar);
}

/****REDES****/
.contenedor-redes {
  justify-content: center;
  padding: 50px 18px;
}
.contenedor-redes h3 {
  font-size: 1.5rem;
}

.lista-redes ul {
  display: flex;
  list-style: none;
}
.lista-redes ul li {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.redes-img {
  height: 35px;
  margin: 10px;
}

/****FOOTER****/
footer {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: var(--secondary-color);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div p {
  padding: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}
