:root {
  --primary-blue: #356be1;
  --btn-enviar: #ffb2b2;
  --btn-hover: #e7e7e7;
  --background-contacto: whitesmoke;
}
/*other colors: 
svg images color: #356BE1

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/********************HEADER********************/
header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 460px;
  height: 90vh;
  padding-bottom: 36px;
  text-align: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background-image: url("../assets/header-mountain.jpg");
  opacity: 0.95;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header--content {
  background-color: rgba(255, 255, 255, 0.397);
  min-width: 200px;
  max-width: 1050px;
  padding: 19px 0;
  backdrop-filter: blur(2px);
  border-radius: 15px;
  margin: 16px;
}
.header--title-container {
  min-width: 288px;
  max-width: 900px;
  height: 100px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 3.7rem;
  font-weight: bold;
  /*recolor hover titulo*/
  transition: 0.6s;
  background: linear-gradient(
    to right,
    var(--primary-blue),
    var(--primary-blue) 50%,
    rgb(0, 0, 0) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 560ms ease;
  /*recolor hover titulo*/
}

.header--title-container h1:hover {
  background-position: 0 100%;
}

.header--title-container p {
  font-size: 1.6rem;
  font-weight: 300;
  color: black;
}

header img {
  width: 155px;
  height: 1565x;
  align-self: center;
}

.header--buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  display: block;
  height: 40px;
  width: 290px;
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  border-radius: 20px;

  padding: 10px;
  outline: none;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover);
  color: black;
  border: none;
  border: 1px solid transparent;
}
.btn-primario {
  background-color: white;
  border: 1px solid white;
  color: black;
  font-weight: 500;
  margin: 8px;
}
.btn-secundario {
  background-color: transparent;
  border: 1px solid white;
  font-weight: 400;
  color: white;
  margin: 8px;
}

/********************MAIN********************/
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main--info {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 38px;
  text-align: center;
}
.section--text {
  width: 65%;
  min-width: 290px;
  max-width: 1150px;
  margin: 0 auto;
}
.section--text h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: black;
}

.texto-button-cv {
  margin-bottom: 30px;
}

.texto-button-cv .btn-cv {
  background-color: var(--btn-enviar);
  color: black;
  padding: 10px 35px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  box-shadow: none;
  transition: 0.5s;
}

.btn-cv:hover,
.btn-cv:focus {
  background-color: var(--btn-hover);
  color: rgb(37, 37, 37);
}

.section--text p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.main--info .ilustracion-svg {
  width: 150px;
  height: 84px;
  align-self: center;
}

/*** PROYECTOS ***/

.proyectos--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.mis-proyectos {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  margin: 15px;
  color: white;
  background-size: cover;
  max-width: 260px;
  padding: 8rem 0 0 0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s;
}
.card:hover,
.card:focus-within {
  transform: scale(1.05);
}
.card-picture1 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/portafolio.png);
}
.card-picture2 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/batatabit.png);
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  font-size: 1.9rem;
  width: max-content;
  max-width: 100%;
  padding-bottom: 15px;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(1.5rem * -1);
  bottom: 10px;
  width: calc(100% + 1.5rem);
  background-color: var(--primary-blue);

  transform-origin: left; /*para que la linea aparezca desde la izquierda*/
  transition: transform 0.5s ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.85);
  font-size: 1.3rem;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  background-color: var(--btn-enviar);
  margin: 12px 5px 0 5px;
  padding: 0.8em 1.6em;
  border-radius: 20px;
  transition: transform 0.5s;
}
.button:hover,
.buton:focus,
.btn-ver-certificado:hover,
.btn-ver-certificado:focus {
  background-color: var(--btn-hover);
}

@media (hover) {
  /*para que capture a los dispositivos que tienen hover(un raton como pointer principal)*/
  .card-content {
    transform: translateY(68%);
    transition: transform 0.5s ease;
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 0.3s;
  }

  .card:focus-within .card-content {
    transition-duration: 0s;
  }

  .card:hover .card-content > *,
  .card:focus-within .card-content > * {
    opacity: 1;
  }

  .card-title::after {
    transform: scaleX(0); /*para el efecto de movimiento en el hover */
  }
}

/*** / PROYECTOS ***/

/****HABILIDADES****/
.mis-habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*alinea horizontalmente*/
}

.carta-habilidades {
  height: 37px;
  width: 129px;
  padding: 10px;
  margin: 8px;
  color: white;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--primary-blue);
  border-radius: 20px;
  transition: 0.5s;
}
.carta-habilidades:hover {
  transform: scale(1.2);
}

.carta-habilidades p {
  font-weight: 300;
  font-size: 1.3rem;
}

/****CERTIFICADOS****/
.certificados--container {
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.certificado-detalle {
  position: relative;
  width: 80%;
  min-width: 250px;
  max-width: 270px;
  min-height: 220px;
  max-height: 230px;
  margin: 15px auto;
  /* padding: 15px; */
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
}

.certificado-imagen1 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/github-small.jpg);
}
.certificado-imagen2 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/html.jpg);
}

.certificado-imagen3 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/ui-ux-small.jpg);
}
.certificado-imagen4 {
  background-image: linear-gradient(
      to bottom,
      rgba(150, 150, 150, 0),
      rgba(41, 40, 40, 0.8)
    ),
    url(../assets/frontend-small.jpg);
}

.certificado-detalle:hover {
  transform: scale(1.05);
}

.btn-ver-certificado {
  left: calc(50% - 61px);
  position: absolute;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  background-color: var(--btn-enviar);
  margin: 12px 5px 0 5px;
  padding: 0.8em 1.2em;
  border-radius: 20px;
  bottom: 35px;
}

.certificado--titulo {
  position: relative;
  color: white;
  top: 105px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}

/****FORMULARIO****/

.contacto {
  background-color: var(--background-contacto);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contenedor-formulario {
  padding: 9px;
}

.formulario {
  max-width: 425px; /*370*/
  padding: 15px 1px 15px 11px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 14px 6px #e2e1e1;
  box-shadow: 5px 10px 14px 6px #e2e1e1;
}
.formulario h2 {
  font-size: 2.1rem;
}

.formulario label {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form--input {
  width: 95%;
  height: 42px;
  margin: 1rem 0;
  outline: none;
  border: 1px solid #6b6666;
  border-radius: 14px;
  background-color: white;
  padding: 5px 10px;
  font-size: 1.4rem;
}

#mensaje {
  min-height: 80px;
  max-width: 95%;
  padding: 5px 10px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

label span {
  font-size: 1.4rem;
}
.btn-enviar {
  width: 95%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: var(--btn-enviar);
  cursor: pointer;
}

/****REDES****/
.contenedor-redes {
  justify-content: center;
  padding: 50px 18px;
}
.contenedor-redes h3 {
  font-size: 1.5rem;
}

.lista-redes ul {
  display: flex;
  list-style: none;
}
.lista-redes ul li {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.redes-img {
  height: 35px;
  margin: 10px;
}

/****FOOTER****/
footer {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: var(--primary-blue);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div p {
  color: white;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: 500;
}
